<%include _header%>
    <h1>Edit My Profile</h1>
    <form action="/edit" method="post">
        <input name="displayname" type="text" class="form-control" placeholder="Display Name" value="<%=currentUser.name()%>">
        <textarea name="bio" class="form-control" placeholder="Detail about ME: " >
            <%=currentUser.bio || ""%>
        </textarea>
        <input type="submit" value="Update" class="btn btn-primary btn-block">
    </form>
<%include _footer%>